/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
.picture {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin-top: -125px;
  margin-left: -125px; 
  border-radius: 50% 50% 50% 50%;
  border: double 10px rgba(255,255,255,0.7);
  background: rgba(255,255,255,0.7);
  background-clip: padding-box;
}

.welcome {
  position: absolute;
  top: 56%;
  font-size: 50px;
  color: white;
  opacity: 0.8;
  font-family: 'Lobster Two';
  text-align: center;
  width: 100%;
}

body {
/*=============WEBSITE BACKGROUND COLOR======================*/
  background-color: white;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
/*=============WEBSITE BACKGROUND COLOR======================*/
  background-color: white;
}
section.module.parallax {
  height: 729px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("images/wood.jpg");
}
section.module.parallax-2 {
  background-image: url("images/beach.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 80px;
  }
}
/*==================First Section Padding=====================*/
section.module.parallax.parallax-1 {
  padding:40px;
}
/*==================Title Margins=============================*/
.title-page {
  margin-left: -9px;
  margin-right: -9px;
}

/*===================Navigation Bar=========================*/
.col-md-4 {
  background-color: white;
  height: 4em;
  text-align: center;
  vertical-align: middle;
  line-height: 4em;
  font-family: 'Lobster Two';
  font-size: 1.1em;
  opacity: 0.8;
}
.row {
  left:0px;
  right:0px;
  z-index: 1000;
  position:fixed;
}





