/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
.picture {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin-top: -125px;
  margin-left: -125px; 
  border-radius: 50% 50% 50% 50%;
  border: double 10px rgba(255,255,255,0.7);
  background: rgba(255,255,255,0.7);
  background-clip: padding-box;
}

.welcome {
  position:absolute;
  top: 56%;
  font-size: 50px;
  color: white;
  opacity: 0.8;
  font-family: 'Raleway';
  text-align: center;
  width: 100%;
}

body {
/*=============WEBSITE BACKGROUND COLOR======================*/
  background-color: white;
}

section.module:last-child {
  margin-bottom: 0;
}

/*=======Section Heading=========*/
section.module h2 {
  margin-bottom: 40px;
  font-family: "Raleway";
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
/*=============WEBSITE BACKGROUND COLOR======================*/
  background-color: white;
}
section.module.parallax {
  height: 729px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Raleway";
}
section.module.parallax-1 {
  background-image: url("Images/Wood.jpg");
}
section.module.parallax-2 {
  background-image: url("Images/Beach.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 17px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 80px;
  }
}
/*==================First Section Padding=====================*/
section.module.parallax.parallax-1 {
  padding:40px;
}
/*==================Title Margins=============================*/
.title-page {
  margin-left: -9px;
  margin-right: -9px;
}

/*===================Navigation Bar=========================*/
.col-md-4 {
  background-color: white;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-family: 'Raleway';
  font-size: 20px;
  opacity: 0.8;
}
.row {
  left:0px;
  right:0px;
  z-index: 1000;
  position:fixed;
}

/*=====================Social Media Buttons=====================*/
.socialmedia {
  position: absolute;
  width: 100%;
  text-align: right;
  top: 93%;
  color: white;
  opacity: 0.8;
}
.linkedin {
  padding-right: 20px;
}
.googleplus {
  padding-right: 20px;
}
.resume {
  padding-right: 35px;
}

/*=========================Bounce In===========================*/
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*=============Eliminate Decoration from HyperLink===========*/
a.decoration:link
{
   color: white;
   text-decoration: none;
}
a.decoration:visited
{
   color: white;
   text-decoration: none;
}
a.decoration:hover
{
   color: white;
   text-decoration: none;
}
a.decoration:active
{
   color: white;
   text-decoration: none;
}
/*=============Picture1 and Decription1===================*/
.aboutme {
  height: 550px;
}
.aboutmeimages {
  padding-bottom: 150px;
}
.picture1 {
  width: 130px;
  height: 130px;
  border: 5px solid #CDC5BF;
  margin-left: -100px;
  margin-right: 100px;
}
.description1 {
  margin-left: -100px;
  margin-right: 100px;
  font-family: "Raleway";
  font-size: 15px;
}
.picture2 {
  width: 130px;
  height: 130px;
  border: 5px solid #CDC5BF;
}
.description2 {
  font-family: "Raleway";
  font-size: 15px;
}
.picture3 {
  width: 130px;
  height: 130px;
  border: 5px solid #CDC5BF;
}
.description3 {
  font-size: 15px;
  font-family: "Raleway";
}


