/* background image */
#body {
	background-image: url("images/wood.jpg");
	background-repeat: no-repeat;
}

/* Navigation Bar */
.col-md-4 {
	background-color: white;
	height: 4em;
	opacity: 0.5;
	text-align: center;
	vertical-align: middle;
	line-height: 4em;
	font-family: avenir;
	font-size: 1.1em;
}
.row {
	position:fixed;
	left:0px;
	right:0px;
}
/* Self Image */
.picture {
   position: absolute;
   top: 40%;
   left: 50%;
   width: 250px;
   height: 250px;
   margin-top: -125px;
   margin-left: -125px; 
   border-radius: 50% 50% 50% 50%;
}

